button {
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    background-color:blue;
    padding: 5px 32px;
    margin: 20px 2px;
}

button:hover{
    
    border-radius: 10px solid blue;
    color: blue;
    background-color: transparent;
}