footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: #41368b;
    position: relative;
    top: 20px;
    padding: 30px;
    margin-top: 30px;
    
    
}